@charset "utf-8";
#index-comment{
    margin-bottom:50px;
}
.index-comment-title{
    text-align:center;
    font-size:30px;
    margin-bottom:10px;
    h3{
        font-weight:normal;
    }
}
.index-comment-main{
    .last{
        margin-right:0px;
    }
    li{
        background:#fff;
        float:left;
        margin:0 9px 9px 0;
        height:388px;
        a{
            text-decoration:none;
            display:block;
            width:303px;
            height:364px;
            color:#515151;
            font-size:14px;
            .comment-img{
                img{
                    display:block;
                    width:303px;
                    height:190px;
                }
            }
            .author{
                overflow:hidden;
                height:42px;
                padding:0 15px;
                margin-top:10px;
                line-height:42px;
                img{
                    width:38px;
                    height:38px;
                    border-radius:50%;
                }
                span{
                    
                    margin-left:15px;
                }
            }
            p{
                overflow:hidden;
                font-size:16px;
                line-height:27px;
                height:66px;
                padding:10px 15px 15px;
            }
            .bottom-tip{
                display:block;
                color:#999;
                padding:0 15px;
                margin-top:10px;
                
            }
        }
    }
}
