@charset "utf-8";
#index-video{
    margin-bottom:0px;
}
.index-video-title{
    text-align:center;
    font-size:30px;
    margin-bottom:10px;
    h3{
        font-weight:normal;
    }
}
.index-video-main{
    .last{
        margin-right:0;
    }
    li{
        margin:0 9px 15px 0;
        float:left;
        background:#fff;
        a{
            text-decoration:none;
            display:block;
            width:303px;
            height:245px;
            position:relative;
            i{
                position:absolute;
                width:30px;
                height:30px;
                right:15px;
                bottom:70px;
                font-style:normal;
                background:url(http://www3.res.meizu.com/static/cn/global/images/icon-video-player_36c4d32.png) 0px/100%;
            }
            img{
                display:block;
                width:303px;
                height:190px;
            }
            p{
                overflow:hidden;
                font-size:16px;
                line-height:55px;
                color:#515151;
                text-align:center;
            }
        }
    }
}
