@charset "utf-8";
.cart-main{
    background:#F4F6FA;
    .wrapper{
        //display:none;
        padding:10px 0px 30px 0px;
    }
}

.cart-main-top{
    height:50px;
    background:#fff;
    line-height:50px;
    padding:0 50px 0 20px;
    li{
        float:left;
        color:rgba(51,51,51,.4);
        font-size:12px;
        margin-left:140px;
        a{
            text-decoration: none;
            color:#00c3f5;
        }
    }
}

.cart-main-center{
    padding:20px 50px 20px 20px;
    margin:10px 0;
    background:#fff;
    .cart-main-jiajia{
        font-size:12px;
        line-height:22px;
        color:#595959;
        
        span{
            display:inline-block;
            width:60px;
            height:20px;
            text-align:center;
            line-height:22px;
            font-size:12px;
            color:#e02b41;
            border-radius:2px;
            border:1px solid #E02B41;
            margin-right:10px;
        }
        a{
            text-decoration:none;
            color:#27b3ff;
            font-size:12px;
            margin-left:10px;
        }
    }
}

.cart-main-phone{
    margin-left:50px;
    img{
        width:100px;
        height:100px;
    }
    .phone-img{
        position:relative;
        input{
            position:absolute;
            top:40px;
            left:-48px;
        }
    }
    .phone-title{
        padding-left:30px;
        padding-top:30px;
        .phone-title1{
            font-size:16px;
            color:#262626;
            margin-bottom:10px;
        }
        .phone-title2{
            font-size:14px;
            color:#8C8C8C;
        }
    }
    .cart-main-price{
        padding-top:35px;
        .danjia{
            color:#666;
            font-size:16px;
        }
        .shuliang{
            margin-left:105px;
            border:1px solid #00c3f5;
            .jian{
                display:inline-block;
                width:18px;
                height:18px;
                text-align:center;
                text-decoration: none;
                color:#000;
                border-right:1px solid #00c3f5;
            }
            input{
                height:20px;
                width:40px;
                text-align:center;
                border:0;
            }
            .jia{
                display:inline-block;
                width:18px;
                height:18px;
                text-align:center;
                text-decoration: none;
                color:#000;
                border-left:1px solid #00c3f5;
            }
        }
        .xiaoji{
            color:#E02B41;
            font-size:16px;
            margin-left:98px;
        }
        .shanchu{
            margin-left:124px;
            text-decoration: none;
            color:#27b3ff;
        }
    }
}

//主体尾部
.cart-main-buttom{
    padding:0 50px 0 20px;
    background:#fff;
    line-height:70px;
    .left{
        a{
            color:#8C8C8C;
            text-decoration:none;
            margin:0 30px;
        }
        span{
            color:#8C8C8C;
            font-size:14px;
            i{
                font-style:normal;
                color:#00c3f5;
            }
        }
    }
    .right{
        i{
            color:#E02B41;
            font-style:normal;
            font-weight: bold;
        }
        span{
            font-size:20px;
            color:#E02B41; 
            font-weight:bold;
        }
        .jiesuan{
            width:89px;
            height:34px;
            background:#F66567;
            text-align:center;
            line-height:34px;
            border-radius: 2px;
            color:#fff;
            margin-top:19px;
            margin-left:30px;
        }
    }
}
