@charset "utf-8";
#index-parts{
    margin-bottom:50px;
    .index-parts-title{
        text-align:center;
        font-size:30px;
        margin-bottom:10px;
        h3{
            font-weight:normal;
        }
    }
    .parts-imgbox{
        a{
            display:block;
            height:450px;
            background:url(https://fms.res.meizu.com/dms/2018/11/26/c67264b3-38d7-4b57-af1c-5f061c70db0e.jpg) no-repeat center/2560px,450px;
        }
    }
    
    .parts-ulbox{
        .last{
            margin-right:0px;
        }
        li{
            float:left;
            text-align:center;
            margin:10px 9px 0 0;
            a{
                position:relative;
                width:303px;
                height:375px;
                display:block;
                background:#fff;
                text-decoration:none;
                .ear-title{
                    position:absolute;
                    top:270px;
                    width:303px;
                    display:block;
                    .ear-name{
                        display:block;
                    }
                    .ear-data{
                        display:block;
                    }
                    .ear-price{
                        display:block;
                    }
                }
            }
        }
    }
}
