@charset "utf-8";
#details-header{
    border-bottom:1px solid #efefef;
    .logo{
        a{
            overflow: hidden;
            display:block;
            width:150px;
            height:80px;
            img{
                display:block;
                width:125px;
                height:23px;
                margin-top:28px;
            }
        }
    }
    .cart{
        a{
            position:relative;
            text-decoration:none;
            display:block;
            width:34px;
            height:34px;
            margin-top:23px;
            img{
                display:block;
                width:30px;
                height:30px;
            }
            span{
                position:absolute;
                width:16px;
                height:16px;
                background:#F10000;
                line-height:16px;
                text-align:center;
                color:#fff;
                right:-2px;
                top:0px;
                border-radius:50px;
                z-index:999;
                font-size:14px;
            }
        }
    }
    .login{
        height:80px;
        margin:0 8px 0 12px;
        a{
            display:block;
            margin-top:23px;
            img{
                display:block;
                width:30px;
                height:30px;
            }
        }
    }
    .search{
        width:172px;
        height:32px;
        position:relative;
        border:1px solid rgba(0,0,0,.15);
        border-radius:16px;
        margin:24px 0 0 18px;
        input{
            width:125px;
            height:22px;
            position:absolute;
            left:15px;
            top:4px;
            border:0;
            color:#999;
        }
        a{
            position:absolute;
            left:147px;
            top:8px;
            img{
                display:block;
                width:17px;
                height:14px;
            }
        }
    }
    .header-nav1{
        li{
            float:left;
            a{
                text-decoration:none;
                display:block;
                height:80px;
                margin:0 20px 0 15px;
                line-height:80px;
                color:#333;
                font-size:14px;
            }
        }
    }
}
