@charset "utf-8";
#details-main{
    //魅族 Note8标题
}

.details-main-title{
    background:#f6f8fb;
    span{
        line-height:70px;
        font-size:26px;
        color:#000;
    }
    ul{
        margin-top:25px;
        .last{
            border:0;
        }
        li{
            float:left;
            border-right:1px solid #dedede;
            a{
                display:block;
                text-decoration:none;
                color:#333;
                font-size:16px;
                margin:0 20px;
                line-height:20px;
            }
        }
    }
}

.details-main-shop{
    .wrapper{
        position:relative;
    }
}
.details-shop-bigimg{
    position:relative;
    .sf{
        display:none;
        position:absolute;
        //top:0px;
        //left:0px;
        width:50px;
        height:50px;
        background:orange;
        opacity: 0.3;
    }
    img{
        width:560px;
        height:560px;
    }
}

.details-shop-img{
    margin-right:40px;
    ul{
        margin:10px 0 0 24px;
    }
}

///////放大镜的框
.details-shop-fdj{
    display:none;
    position:absolute;
    z-index: 999;
    top:0px;
    left:561px;
    width:560px;//400
    height:560px;//400
    overflow:hidden;
    img{
        position:absolute;
        top:0px;
        left:0px;
        width:980px;//680
        height:980px;//680
    }
 }
 
.details-shop-img{
    li{
        margin:0 24px;
        float:left;
        cursor:pointer;
        img{
            width:80px;
            height:80px;
        }
    }
}

.details-bigimg-shoucang{
    margin:50px 0 0 59px;
    a{
        text-decoration:none;
        color:#bfbfbf;
        font-size:12px;
        position:relative;
        margin-right:30px;
        .shoucang{
            font-size:14px;
            position:absolute;
            left:6px;
            top:-21px;
        }
        .duibi{
            font-size:29px;
            position:absolute;
            left:-3px;
            top:-28px;
        }
    }
}
    
.details-shop-text{
    width:640px;
    padding-top:60px;
    i{
        color:#8c8c8c;
        font-size:12px;
        font-style:normal;
        margin-right:12px;
        margin-left:8px;
    }
}
//手机名字
.details-title{
    h1{
        color:#262626;
        font-size:28px;
        line-height:28px;
        
    }
    span{
        color:#e22841;
        font-size:14px;
        line-height:14px;
        display:block;
        margin:10px 0px 20px 0px;
    }
}
//价格
.details-peicr{
    background:#f4f6fa;
    padding:16px 0px 12px;
    p{
        color:#e02b41;
        font-size:36px;
        em{
            font-style:normal;
        }
        small{
            font-size:24px;
        }
    }
    div{
        font-size:14px;
        line-height:22px;
        color:#595959;
        margin:12px 0 0 10px;
        span{
            display:inline-block;
            width:72px;
            height:22px;
            text-align:center;
            line-height:22px;
            font-size:14px;
            color:#e02b41;
            background:#F2EAEF;
            margin-right:10px;
        }
        a{
            text-decoration:none;
            color:#27b3ff;
            font-size:14px;
            margin-left:10px;
        }
    }
}
//支持
.details-zhichi{
    padding:18px 0;
}
//配送服务
.details-peisong{
    border-bottom:1px dashed #dedede;
    .dizhi{
        font-size:14px;
        color:#262626;
    }
    div{
        margin:10px 0 14px 65px;
        a{
            text-decoration:none;
            color:#27b3ff;
            font-size:12px;
            position:relative;
            padding-left:20px;
            span{
                font-size:30px;
                position:absolute;
                top:-7px;
                left:-8px;
            }
        }
    }
}
//型号
.details-xinghao{
    .b-border{
        border-color:#000;
    }
    a{
        text-decoration: none;
        display:inline-block;
        width:176px;
        height:40px;
        border:1px solid #BFBFBF;
        line-height:40px;
        text-align:center;
        color:#595959;
        border-radius: 2px;
        margin-right:4px;
        margin-top:18px;
    }
    .last-num{
        position:relative;
        margin-bottom:46px;
        i{
            position:absolute;
            top:33px;
        }
        div{
            display:inline-block;
            height:40px;
            border:1px solid #BFBFBF;
            margin-top:18px;
            margin-left:73px;
            line-height:40px;
            width:122px;
            text-align:center;
            em{
                font-style:normal;
            }
            span{
                display:inline-block;
                width:32px;
                background:#e0e0e0;
                cursor:pointer;
            }
        }
    }
}
.details-shop{
    div{
        width:210px;
        height:56px;
        text-align:center;
        line-height:56px;
        border-radius: 3px;
        border:1px solid #27B3FF;
    }
    a{
        display:block;
        width:100%;
        height:100%;
        text-decoration: none;
        font-size:20px;
    }
}
//立即购买
.details-shoping{
    margin-right:24px;
    background:#27b3ff;
    a{
        color:#fff;
    }
}
//加入购物车
.details-joinshop{
    a{
        color:#27B3FF;
    }
}

