@charset "utf-8";
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/details/iconfont.eot');
    src: url('../fonts/details/iconfont.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/details/iconfont.woff2') format('woff2'), 
    url('../fonts/details/iconfont.woff') format('woff'), 
    url('../fonts/details/iconfont.ttf') format('truetype'), 
    url('../fonts/details/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
